In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

import pickle

In [56]:
df = pd.read_csv("titanic.csv")

In [57]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [59]:
# Оставляем нужные признаки
df = df[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
df = df.dropna()
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [60]:
# Разделяем данные
X = df.drop('Survived', axis=1)
y = df['Survived']

In [61]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [62]:
# Модель 1: Logistic Regression
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)
y_pred_log = logreg.predict(X_test)

In [63]:
# Модель 2: Random Forest
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)

In [64]:
# Модель 3: CatBoost
cat = CatBoostClassifier(verbose=0, random_state=42)
cat.fit(X_train, y_train)
y_pred_cat = cat.predict(X_test)

In [65]:
# Модель 4: SVM
svm = SVC(probability=True, random_state=42)
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)

In [66]:
# Модель 5: KNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

In [67]:
# Модель 6: XGBoost
xgb = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/xgboost/training.py:183: UserWarning: [15:05:57] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [68]:
# Модель 7: Decision Tree
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)

In [69]:
# Модель 8: Naive Bayes
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)

In [70]:
# Выводим метрики
def print_metrics(name, y_true, y_pred):
    print(f"{name}")
    print(" Accuracy:", round(accuracy_score(y_true, y_pred), 4))
    print("-" * 30)

In [71]:
print_metrics("Logistic Regression", y_test, y_pred_log)
print_metrics("Random Forest", y_test, y_pred_rf)
print_metrics("CatBoost", y_test, y_pred_cat)
print_metrics("SVM", y_test, y_pred_svm)
print_metrics("KNN", y_test, y_pred_knn)
print_metrics("XGBoost", y_test, y_pred_xgb)
print_metrics("Decision Tree", y_test, y_pred_dt)
print_metrics("Naive Bayes", y_test, y_pred_nb)

Logistic Regression
 Accuracy: 0.7552
------------------------------
Random Forest
 Accuracy: 0.7622
------------------------------
CatBoost
 Accuracy: 0.7692
------------------------------
SVM
 Accuracy: 0.7343
------------------------------
KNN
 Accuracy: 0.7622
------------------------------
XGBoost
 Accuracy: 0.7692
------------------------------
Decision Tree
 Accuracy: 0.7133
------------------------------
Naive Bayes
 Accuracy: 0.7413
------------------------------

In [72]:
with open('model.pkl', 'wb') as f:
    pickle.dump(dt, f)

# INFERENCE

In [73]:
import pickle

# Загрузка модели из файла pickle
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [74]:
import pandas as pd

# Новые данные
new_data = pd.DataFrame({
    'Pclass': [3],
    'Age': [5.0],
    'Fare': [7.2500],
    'Sex_male': [1]
})

In [75]:
# Предсказание
predictions = dt.predict(new_data)

# Вывод результатов
print("Predicted Survival:", predictions)

Predicted Survival: [1]

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

# Test API

In [2]:
import requests

def predict_model(data: dict):
    url = "http://127.0.0.1:500/predict_model"

    # Отправка POST-запроса с JSON-телом
    response = requests.post(url, json=data)

    # Проверка кода ответа
    if response.status_code == 200:
        return response.json()
    else:
        return {"error": f"Request failed with status code {response.status_code}"}

# Пример данных для предсказания
data = {
    "Pclass": 1,
    "Age": 54.0,
    "Fare":10.2500,
    "Sex_male": 0
}

prediction = predict_model(data)
print("Prediction from API:", prediction)

Prediction from API: {'prediction': 'Survived'}